/digitalocean/terraform.tfvars
/digitalocean/terraform.tfstat*
/digitalocean/.terraform.lock.hcl
/digitalocean/.terraform/*
/digitalocean/ssh_keys/*
/digitalocean/output/*
/digitalocean/rancher/*
/digitalocean/run_ansible.bat